<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:sharedUserId="android.uid.system"
    android:versionCode="28"
    android:versionName="9"
    package="com.mediatek"
    coreApp="true">
    <uses-sdk
        android:minSdkVersion="28"
        android:targetSdkVersion="28"/>
    <eat-comment/>
    <protected-broadcast android:name="android.intent.action.SCREEN_OFF"/>
    <protected-broadcast android:name="android.intent.action.SCREEN_ON"/>
    <protected-broadcast android:name="android.intent.action.USER_PRESENT"/>
    <protected-broadcast android:name="android.intent.action.TIME_TICK"/>
    <protected-broadcast android:name="android.intent.action.TIMEZONE_CHANGED"/>
    <protected-broadcast android:name="android.intent.action.BOOT_COMPLETED"/>
    <protected-broadcast android:name="android.intent.action.PACKAGE_INSTALL"/>
    <protected-broadcast android:name="android.intent.action.PACKAGE_ADDED"/>
    <protected-broadcast android:name="android.intent.action.PACKAGE_REPLACED"/>
    <protected-broadcast android:name="android.intent.action.PACKAGE_REMOVED"/>
    <protected-broadcast android:name="android.intent.action.PACKAGE_CHANGED"/>
    <protected-broadcast android:name="android.intent.action.PACKAGE_RESTARTED"/>
    <protected-broadcast android:name="android.intent.action.PACKAGE_DATA_CLEARED"/>
    <protected-broadcast android:name="android.intent.action.UID_REMOVED"/>
    <protected-broadcast android:name="android.intent.action.CONFIGURATION_CHANGED"/>
    <protected-broadcast android:name="android.intent.action.LOCALE_CHANGED"/>
    <protected-broadcast android:name="android.intent.action.BATTERY_CHANGED"/>
    <protected-broadcast android:name="android.intent.action.BATTERY_LOW"/>
    <protected-broadcast android:name="android.intent.action.BATTERY_OKAY"/>
    <protected-broadcast android:name="mediatek.intent.action.BATTERY_WARNING"/>
    <protected-broadcast android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
    <protected-broadcast android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
    <protected-broadcast android:name="android.intent.action.ACTION_SHUTDOWN"/>
    <protected-broadcast android:name="android.intent.action.DEVICE_STORAGE_LOW"/>
    <protected-broadcast android:name="android.intent.action.DEVICE_STORAGE_OK"/>
    <protected-broadcast android:name="android.intent.action.NEW_OUTGOING_CALL"/>
    <protected-broadcast android:name="android.intent.action.REBOOT"/>
    <protected-broadcast android:name="android.intent.action.DOCK_EVENT"/>
    <protected-broadcast android:name="android.app.action.ENTER_CAR_MODE"/>
    <protected-broadcast android:name="android.app.action.EXIT_CAR_MODE"/>
    <protected-broadcast android:name="android.app.action.ENTER_DESK_MODE"/>
    <protected-broadcast android:name="android.app.action.EXIT_DESK_MODE"/>
    <protected-broadcast android:name="android.backup.intent.RUN"/>
    <protected-broadcast android:name="android.backup.intent.CLEAR"/>
    <protected-broadcast android:name="android.backup.intent.INIT"/>
    <protected-broadcast android:name="android.bluetooth.adapter.action.STATE_CHANGED"/>
    <protected-broadcast android:name="android.bluetooth.adapter.action.SCAN_MODE_CHANGED"/>
    <protected-broadcast android:name="android.bluetooth.adapter.action.DISCOVERY_STARTED"/>
    <protected-broadcast android:name="android.bluetooth.adapter.action.DISCOVERY_FINISHED"/>
    <protected-broadcast android:name="android.bluetooth.adapter.action.LOCAL_NAME_CHANGED"/>
    <protected-broadcast android:name="android.bluetooth.device.action.FOUND"/>
    <protected-broadcast android:name="android.bluetooth.device.action.DISAPPEARED"/>
    <protected-broadcast android:name="android.bluetooth.device.action.CLASS_CHANGED"/>
    <protected-broadcast android:name="android.bluetooth.device.action.ACL_CONNECTED"/>
    <protected-broadcast android:name="android.bluetooth.device.action.ACL_DISCONNECT_REQUESTED"/>
    <protected-broadcast android:name="android.bluetooth.device.action.ACL_DISCONNECTED"/>
    <protected-broadcast android:name="android.bluetooth.device.action.NAME_CHANGED"/>
    <protected-broadcast android:name="android.bluetooth.device.action.BOND_STATE_CHANGED"/>
    <protected-broadcast android:name="android.bluetooth.device.action.NAME_FAILED"/>
    <protected-broadcast android:name="android.bluetooth.device.action.PAIRING_REQUEST"/>
    <protected-broadcast android:name="android.bluetooth.device.action.PAIRING_CANCEL"/>
    <protected-broadcast android:name="com.via.bypass.action.setbypass_result"/>
    <protected-broadcast android:name="com.via.bypass.action.getbypass_result"/>
    <protected-broadcast android:name="com.android.server.WifiManager.action.STOP_HOTSPOT"/>
    <protected-broadcast android:name="android.net.wifi.WIFI_HOTSPOT_CLIENTS_CHANGED"/>
    <protected-broadcast android:name="android.net.wifi.WIFI_HOTSPOT_CLIENTS_IP_READY"/>
    <protected-broadcast android:name="com.mediatek.wfd.connection"/>
    <protected-broadcast android:name="com.mediatek.wifi.p2p.Tx"/>
    <protected-broadcast android:name="com.mediatek.wifi.p2p.GO.GCrequest.connect"/>
    <protected-broadcast android:name="com.mediatek.wifi.p2p.OP.channel"/>
    <protected-broadcast android:name="com.mediatek.wifi.p2p.freq.conflict"/>
    <protected-broadcast android:name="com.mediatek.phone.ACTION_EF_RAT_CONTENT_NOTIFY"/>
    <protected-broadcast android:name="com.mediatek.phone.ACTION_EF_CSP_CONTENT_NOTIFY"/>
    <protected-broadcast android:name="com.mediatek.phone.ACTION_COMMON_SLOT_NO_CHANGED"/>
    <protected-broadcast android:name="com.mediatek.phone.ACTION_UNLOCK_SIM_LOCK"/>
    <protected-broadcast android:name="com.mediatek.phone.ACTION_SIM_RECOVERY_DONE"/>
    <protected-broadcast android:name="SilverHelper.trigger.started"/>
    <protected-broadcast android:name="com.mediatek.phone.ACTION_SIM_SLOT_LOCK_POLICY_INFORMATION"/>
    <protected-broadcast android:name="com.mediatek.phone.ACTION_SIM_SLOT_SIM_MOUNT_CHANGE"/>
    <protected-broadcast android:name="mediatek.intent.action.THERMAL_DIAG"/>
    <protected-broadcast android:name="mediatek.intent.action.THERMAL_WARNING"/>
    <protected-broadcast android:name="mediatek.intent.action.THERMAL_SHUTDOWN"/>
    <protected-broadcast android:name="com.mediatek.server.action.ACTION_NETWORK_OVERLIMIT_CHANGED"/>
    <protected-broadcast android:name="mediatek.intent.action.ACTION_WORLD_MODE_CHANGED"/>
    <protected-broadcast android:name="mediatek.intent.action.ACTION_MD_TYPE_CHANGE"/>
    <protected-broadcast android:name="mediatek.intent.action.IVSR_NOTIFY"/>
    <protected-broadcast android:name="com.mediatek.location.debug_message"/>
    <protected-broadcast android:name="com.mediatek.location.INJECT_NLP_LOC"/>
    <protected-broadcast android:name="com.mediatek.location.RESPONSE_NLP_PACKAGE"/>
    <protected-broadcast android:name="mediatek.intent.action.EMBMS_SESSION_STATUS_CHANGED"/>
    <protected-broadcast android:name="mediatek.intent.action.LOCATED_PLMN_CHANGED"/>
    <protected-broadcast android:name="android.intent.action.ACTION_NETWORK_EVENT"/>
    <protected-broadcast android:name="mediatek.intent.action.ACTION_NOTIFY_MODULATION_INFO"/>
    <protected-broadcast android:name="com.mediatek.deviceregister.MESSAGE_SEND"/>
    <protected-broadcast android:name="com.mediatek.cba.CHECKER_FINISH"/>
    <protected-broadcast android:name="com.mediatek.cba.USB_ACTIVATION"/>
    <protected-broadcast android:name="mediatek.intent.action.PHB_STATE_CHANGED"/>
    <protected-broadcast android:name="com.mediatek.internal.omh.cardcheck"/>
    <protected-broadcast android:name="android.provider.Telephony.SMS_STATE_CHANGED"/>
    <protected-broadcast android:name="com.mediatek.intent.action.ACTION_NETWORK_CHANGED"/>
    <protected-broadcast android:name="com.mediatek.internal.stk.command"/>
    <protected-broadcast android:name="mediatek.intent.action.BIP_STATE_CHANGED"/>
    <protected-broadcast android:name="android.intent.action.ECC_IN_PROGRESS"/>
    <protected-broadcast android:name="mediatek.intent.action.LTE_ACCESS_STRATUM_STATE_CHANGED"/>
    <protected-broadcast android:name="mediatek.intent.action.PS_NETWORK_TYPE_CHANGED"/>
    <protected-broadcast android:name="mediatek.intent.action.SHARED_DEFAULT_APN_STATE_CHANGED"/>
    <protected-broadcast android:name="com.mediatek.intent.action.RADIO_STATE_CHANGED"/>
    <protected-broadcast android:name="com.mediatek.intent.action.AIRPLANE_CHANGE_DONE"/>
    <protected-broadcast android:name="com.mediatek.intent.action.MODEM_POWER_CHANGE"/>
    <protected-broadcast android:name="com.mediatek.internal.telephony.RadioManager.intent.action.FORCE_SET_RADIO_POWER"/>
    <protected-broadcast android:name="com.mediatek.intent.action.MSIM_MODE"/>
    <protected-broadcast android:name="com.mediatek.phone.ACTION_ANY_DEDICATE_DATA_CONNECTION_STATE_CHANGED"/>
    <protected-broadcast android:name="android.provider.Telephony.SMS_STATE_CHANGED"/>
    <protected-broadcast android:name="mediatek.intent.action.ACTION_MODEM_SWITCH_DONE"/>
    <protected-broadcast android:name="com.mediatek.search.SEARCH_ENGINE_CHANGED"/>
    <protected-broadcast android:name="com.mediatek.common.carrierexpress.operator_config_changed"/>
    <protected-broadcast android:name="com.mediatek.common.carrierexpress.action.user_notification_intent"/>
    <protected-broadcast android:name="com.mediatek.common.carrierexpress.cxp_reset_modem"/>
    <protected-broadcast android:name="com.mediatek.common.carrierexpress.cxp_notify_feature"/>
    <protected-broadcast android:name="com.mediatek.common.carrierexpress.cxp_set_vendor_prop"/>
    <protected-broadcast android:name="com.dmyk.android.telephony.action.VOLTE_STATE_SETTING"/>
    <protected-broadcast android:name="com.dmyk.android.telephony.action.VOLTE_STATE_CHANGE"/>
    <protected-broadcast android:name="android.dmyk.net.conn.CONNECTIVITY_CHANGE"/>
    <protected-broadcast android:name="com.dmyk.android.telephony.action.APN_STATE_CHANGE"/>
    <protected-broadcast android:name="com.dmyk.android.telephony.action.SIM_STATE_CHANGED"/>
    <protected-broadcast android:name="cn.richinfo.dmyk.action.APN"/>
    <protected-broadcast android:name="cn.richinfo.dmyk.action.APN_RETRY"/>
    <protected-broadcast android:name="cn.richinfo.dmyk.action.HEARTBEAT"/>
    <protected-broadcast android:name="cn.richinfo.dmyk.action.HEARTBEAT_SUCCESS"/>
    <protected-broadcast android:name="cn.richinfo.dmyk.action.HEARTBEAT_RETRY"/>
    <protected-broadcast android:name="cn.richinfo.dmyk.action.APPINFO"/>
    <protected-broadcast android:name="cn.richinfo.dmyk.action.APPINFO_RETRY"/>
    <protected-broadcast android:name="cn.richinfo.dmyk.action.REGISITER_RETRY"/>
    <protected-broadcast android:name="cn.richinfo.dmyk.action.VOLTE_CONFIG_CHANGED_REPORT"/>
    <protected-broadcast android:name="cn.richinfo.dmyk.action.THIRD_REQUEST"/>
    <protected-broadcast android:name="cn.richinfo.dmyk.action.DM_RESPONSE"/>
    <protected-broadcast android:name="com.mediatek.intent.WIFI_FAILOVER_GPRS_DIALOG"/>
    <protected-broadcast android:name="com.mediatek.common.wifi.AUTOCONNECT_SETTINGS_CHANGE"/>
    <protected-broadcast android:name="SIM1_SANITY_SMS_SEND_ACTION"/>
    <protected-broadcast android:name="SIM2_SANITY_SMS_SEND_ACTION"/>
    <protected-broadcast android:name="com.mediatek.datashaping.CLOSE_TIME_EXPIRED"/>
    <protected-broadcast android:name="tedongle.intent.action.SIM_STATE_CHANGED"/>
    <protected-broadcast android:name="tedongle.intent.action.ANY_DATA_STATE"/>
    <protected-broadcast android:name="tedongle.intent.action.NETWORK_SET_TIMEZONE"/>
    <protected-broadcast android:name="tedongle.intent.action.NETWORK_SET_TIME"/>
    <protected-broadcast android:name="tedongle.intent.action.DATA_CONNECTION_FAILED"/>
    <protected-broadcast android:name="tedongle.intent.action.SERVICE_STATE"/>
    <protected-broadcast android:name="tedongle.intent.action.RADIO_TECHNOLOGY"/>
    <protected-broadcast android:name="tedongle.intent.action.EMERGENCY_CALLBACK_MODE_CHANGED"/>
    <protected-broadcast android:name="tedongle.intent.action.EMERGENCY_CALL_STATE_CHANGED"/>
    <protected-broadcast android:name="tedongle.intent.action.SIG_STR"/>
    <protected-broadcast android:name="tedongle.intent.action.ACTION_SHOW_NOTICE_ECM_BLOCK_OTHERS"/>
    <protected-broadcast android:name="tedongle.intent.action.ACTION_CARRIER_SETUP"/>
    <protected-broadcast android:name="tedongle.intent.action.ACTION_FORBIDDEN_NO_SERVICE_AUTHORIZATION"/>
    <protected-broadcast android:name="tedongle.intent.action.ACTION_SUBINFO_CONTENT_CHANGE"/>
    <protected-broadcast android:name="tedongle.intent.action.ACTION_SUBINFO_RECORD_UPDATED"/>
    <protected-broadcast android:name="tedongle.intent.action.ACTION_DEFAULT_SUBSCRIPTION_CHANGED"/>
    <protected-broadcast android:name="tedongle.intent.action.ACTION_DEFAULT_DATA_SUBSCRIPTION_CHANGED"/>
    <protected-broadcast android:name="tedongle.intent.action.ACTION_DEFAULT_VOICE_SUBSCRIPTION_CHANGED"/>
    <protected-broadcast android:name="tedongle.intent.action.ACTION_DEFAULT_SMS_SUBSCRIPTION_CHANGED"/>
    <protected-broadcast android:name="tedongle.intent.action.ACTION_SET_RADIO_CAPABILITY_DONE"/>
    <protected-broadcast android:name="tedongle.intent.action.ACTION_SET_RADIO_CAPABILITY_FAILED"/>
    <protected-broadcast android:name="tedongle.intent.action.REDIRECTION_DETECTED"/>
    <protected-broadcast android:name="tedongle.intent.action.REQUEST_NETWORK_FAILED"/>
    <protected-broadcast android:name="tedongle.provider.Telephony.SPN_STRINGS_UPDATED"/>
    <protected-broadcast android:name="tedongle.provider.Telephony.SECRET_CODE"/>
    <protected-broadcast android:name="mediatek.intent.action.ACTION_START_DURASPEED_APP"/>
    <protected-broadcast android:name="com.android.dreams.alwaysondisplay.ACTION_AOD"/>
    <protected-broadcast android:name="com.mediatek.internal.telephony.imsphone.rtt_emc_guard_timer_180"/>
    <protected-broadcast android:name="android.media.action.MICROPHONE_MUTE_CHANGED"/>
    <protected-broadcast android:name="mediatek.intent.action.WIFI_ASSOCIATION_REJECT"/>
    <protected-broadcast android:name="mediatek.intent.action.WIFI_NETWORK_DISCONNECT"/>
    <protected-broadcast android:name="mediatek.intent.action.WIFI_PS_CHANGED"/>
    <protected-broadcast android:name="mediatek.intent.action.WIFI_PROVISION_FAIL"/>
    <permission
        android:name="android.permission.GLOBAL_SEARCH"
        android:protectionLevel="signatureOrSystem"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"/>
    <permission
        android:name="android.permission.GLOBAL_SEARCH_CONTROL"
        android:protectionLevel="signature"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"/>
    <permission
        android:name="android.permission.SET_WALLPAPER_COMPONENT"
        android:protectionLevel="signatureOrSystem"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"/>
    <permission
        android:name="android.permission.ADVANCED_WIDGET_API"
        android:protectionLevel="normal"/>
    <permission
        android:label="@string/permlab_wake_device_sensorhub"
        android:name="com.mediatek.permission.WAKE_DEVICE_SENSORHUB"
        android:protectionLevel="dangerous"
        android:permissionGroup="android.permission-group.AFFECTS_BATTERY"
        android:description="@string/permdesc_wake_device_sensorhub"/>
    <permission
        android:label="@string/permlab_systemTerminal"
        android:name="org.simalliance.openmobileapi.SYSTEM_TERMINAL"
        android:protectionLevel="system|signature"
        android:description="@string/permdesc_systemTerminal"/>
    <permission
        android:label="@string/permlab_bindTerminal"
        android:name="org.simalliance.openmobileapi.BIND_TERMINAL"
        android:protectionLevel="system|signature"
        android:description="@string/permdesc_bindTerminal"/>
    <permission
        android:label="@string/permlab_cta_conference_call"
        android:name="com.mediatek.permission.CTA_CONFERENCE_CALL"
        android:protectionLevel="dangerous"
        android:permissionGroup="android.permission-group.PHONE"
        android:description="@string/permdesc_cta_conference_call"
        android:permissionFlags="costsMoney"/>
    <permission
        android:label="@string/permlab_cta_send_mms"
        android:name="com.mediatek.permission.CTA_SEND_MMS"
        android:protectionLevel="dangerous"
        android:permissionGroup="android.permission-group.SMS"
        android:description="@string/permdesc_cta_send_mms"/>
    <permission
        android:label="@string/permlab_cta_send_email"
        android:name="com.mediatek.permission.CTA_SEND_EMAIL"
        android:protectionLevel="dangerous"
        android:permissionGroup="com.mediatek.permission-group.EMAIL"
        android:description="@string/permdesc_cta_send_email"/>
    <permission
        android:label="@string/permlab_cta_enable_wifi"
        android:name="com.mediatek.permission.CTA_ENABLE_WIFI"
        android:protectionLevel="signatureOrSystem"
        android:permissionGroup="com.mediatek.permission-group.WIFI"
        android:description="@string/permdesc_cta_enable_wifi"/>
    <permission
        android:label="@string/permlab_cta_enable_bt"
        android:name="com.mediatek.permission.CTA_ENABLE_BT"
        android:protectionLevel="signatureOrSystem"
        android:permissionGroup="com.mediatek.permission-group.BT"
        android:description="@string/permdesc_cta_enable_bt"/>
    <permission-group
        android:label="@string/permgrouplab_wifi"
        android:icon="@drawable/perm_group_wifi"
        android:name="com.mediatek.permission-group.WIFI"
        android:priority="1000"
        android:description="@string/permgroupdesc_wifi"/>
    <permission-group
        android:label="@string/permgrouplab_bt"
        android:icon="@drawable/perm_group_bluetooth"
        android:name="com.mediatek.permission-group.BT"
        android:priority="1100"
        android:description="@string/permgroupdesc_bt"/>
    <permission-group
        android:label="@string/permgrouplab_email"
        android:icon="@drawable/perm_group_email"
        android:name="com.mediatek.permission-group.EMAIL"
        android:priority="1200"
        android:description="@string/permgroupdesc_email"/>
</manifest>
